<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <%- include('./partials/menu') %>  


   <h3><%= listaTMtos.length %></h3>


   <ul>
    <% for (let i=0; i<listaTMtos.length ; i++)
    { %>
       <li> <%= listaTMtos[i].movimiento %></li> 

    <% } %>
   </ul>

  </body>
</html>


